<!-- left nav -->
<section class="text-gray-600 relative">
  <nav class="container mx-auto flex justify-between px-6 lg:px-0 py-6">
    <div class="space-x-4 grid items-center lg:flex md:ml-20 ml-0 lg:ml-20">
      <img src="images/logo.svg" alt="logo" class="size-7 -mr-2" />
      <a
        href="#"
        class="font-bold text-2xl bg-gradient-to-br from-purple-600 to-purple-800 bg-clip-text text-transparent"
      >
        Sascha Schmittinger
      </a>
      <a href="#" class="hover:text-gray-900">Über mich</a>
      <a href="#" class="hover:text-gray-900">Kurse</a>
      <a href="#" class="hover:text-gray-900">Preise</a>
      <a href="#" class="hover:text-gray-900">Kontakt</a>
    </div>

    <!-- right nav -->
    <div class="space-x-4 md:mr-20 lg:mr-20 mr-0">
      <a href="#" class="hover:text-gray-900">Login</a>
      <a
        href="#"
        class="inline-block p-3 hover:bg-teal-500 bg-teal-600 text-teal-50 rounded shadow hover:shadow-2xl
          transition-colors duration-500"
        >get the Cources</a
      >
    </div>
  </nav>
</section>
