<section class="relative bg-purple-700 lg:pt-12 pb-24 px-10">
  <div class="absolute bottom-0 inset-x-0 h-64 bg-gray-300"></div>

  <div class="relative container mx-auto px-6 lg:px-0">
    <h2 class="mb-10 text-4xl lg:text-6xl font-bold text-purple-100">
      CSS schreiben ist nicht einfach!
    </h2>

    <div class="lg:flex lg:space-x-14">
      <!-- linke Seite -->
      <article
        class="lg:w-[90%] bg-white p-8 lg:p-16 rounded shadow-2xl text-gray-800 text-lg space-y-8 leading-relaxed"
      >
        <p>
          Mit Tailwind ist das Schreiben von CSS kinderleicht und wir können
          unsere Designs schneller anpassen als mit jedem anderen CSS-Framework.
          Wenn Sie ein Framework mit fertigen Komponenten suchen, ist Tailwind
          vielleicht nicht Ihr Fall. Aber wenn Sie ein Framework wollen, das
          Ihnen ermöglicht, schnell und flexibel zu entwerfen und Ihre Website
          anzupassen,
          <strong class="font-bold text-teal-500"
            >dann macht Tailwind richtig Spaß!</strong
          >
        </p>
        <p>
          Nachdem ich Bulma für die Erstellung von Webseiten verwendet hatte,
          waren meine CSS-Dateien voller eigener <code
            class="inline-block px-1 rounded bg-gray-200 text-red-800"
            >!important</code
          > -Klassen, die ich benötigte, um die Stile des Frameworks zu überschreiben.
          Bei Tailwind gibt es dieses Problem nicht, da alle unsere Elemente dynamisch
          generiert werden.
        </p>
        <p>
          <strong class="font-bold">Wichtiger Hinweis:</strong> Mit Tailwind können
          wir schnell entwerfen, aber das bedeutet nicht, dass Sie auf CSS-Kenntnisse
          verzichten können. Um Tailwind effektiv zu nutzen, benötigen Sie ein gutes
          Verständnis von CSS-Eigenschaften. In diesem Kurs werden wir sowohl Tailwind
          als auch die zugrunde liegenden CSS-Konzepte lernen, um ansprechende Designs
          zu erstellen.
          <strong class="font-bold"
            >Tailwind ist eine mächtige Abkürzung für CSS</strong
          > , aber ohne ein Verständnis von CSS selbst können Sie seine Möglichkeiten
          nicht voll ausschöpfen.
        </p>
        <p class="text-2xl italic">
          Dieser Kurs ist nicht nur über Tailwind, sondern auch über das
          Entwerfen mit CSS.
        </p>
        <p>
          Die größte Herausforderung beim Erlernen von Tailwind ist es, sich die
          vielen Klassen zu merken und zu verstehen, wie sie effektiv kombiniert
          werden können. In diesem Kurs werden wir viel mit Tailwind arbeiten,
          um durch Wiederholung die Klassen zu verinnerlichen und sie leichter
          abrufen zu können.
        </p>
      </article>

      <!-- rechte Seite -->
      <article class="mt-6 lg:mt-0 flex-grow text-md italic space-y-4">
        <p class="p-9 rounded-lg bg-purple-800 text-purple-200 shadow-lg">
          Welche Tailwind-Klassen sind für mein Projekt geeignet?
        </p>
        <p class="p-9 rounded-lg bg-purple-800 text-purple-200 shadow-lg">
          Wie gestalte ich mein Design so, dass es ansprechend aussieht?
        </p>
        <p class="p-9 rounded-lg bg-purple-800 text-purple-200 shadow-lg">
          Wirkt mein Design ein bisschen langweilig?
        </p>
        <p class="p-9 rounded-lg bg-purple-800 text-purple-200 shadow-lg">
          Wie gestalte ich mein Design so, dass es auf verschiedenen Geräten gut
          aussieht?
        </p>
        <p class="p-9 rounded-lg bg-purple-800 text-purple-200 shadow-lg">
          Warum wirkt meine Schriftart so unansprechend?
        </p>
      </article>
    </div>
  </div>
</section>
