<div
  class="hidden md:block absolute top-0 right-0 mr-48 transform -translate-x-64 translate-y-64"
>
  <div
    class="absolute bg-gradient-to-br from-teal-100 to-teal-200 w-56 h-56 rounded-full opacity-50"
  >
  </div>
  <div
    class="absolute bg-gradient-to-br from-purple-100 to-purple-200 w-56 h-56 rounded-full ml-10 mt-10 opacity-50"
  >
  </div>
  <div
    class="absolute bg-gradient-to-br from-red-100 to-red-200 w-56 h-56 rounded-full ml-24 opacity-50"
  >
  </div>
</div>
