---

---

<html lang="de-DE">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Sascha Schmittinger</title>
  </head>
  <body>
    <div class="bg-gradient-to-br from-white to-gray-300">
      <div class="absolute top-0 left-0">
        <div
          class="absolute bg-gradient-to-br from-teal-100 to-teal-200 w-56 h-56 rounded-full opacity-50"
        >
        </div>
        <div
          class="absolute bg-gradient-to-br from-purple-100 to-purple-200 w-56 h-56 rounded-full ml-10 mt-10 opacity-50"
        >
        </div>
        <div
          class="absolute bg-gradient-to-br from-red-100 to-red-200 w-56 h-56 rounded-full ml-24 opacity-50"
        >
        </div>
      </div>
      <slot />
    </div>
  </body>
</html>
