---
import CircleLeft from "../components/CircleLeft.astro";
import CircleRight from "../components/CircleRight.astro";
---

<html lang="de-DE">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/images/logo.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Sascha Schmittinger</title>
  </head>
  <body>
    <div class="bg-gradient-to-br from-white to-gray-300">
      <CircleLeft />
      <CircleRight />
      <slot />
    </div>
  </body>
</html>
